.container {
  height: 18rem;
  width: 17.5rem;
  border: solid 2px rgb(44, 44, 44);
  border-radius: 0.5rem;

  .upper {
    height: 20%;
    padding: 1.5rem 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5rem;
    .tag {
      padding: 0.1rem 0.5rem;
      border-radius: 5rem;
      font-size: 0.8rem;
      background-color: #f4c20d;
    }
    .heart {
      font-size: 1.7rem;
    }
  }

  .middle {
    height: 15%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.9rem;
  }

  .lower {
    height: 65%;
    padding: 1rem;

    .lowerTitle {
      font-weight: 600;
      font-size: 1.1rem;
      padding-bottom: 0.2rem;
    }
    .lowerPara {
      font-size: 0.9rem;
      padding-bottom: 0.5rem;
    }
    .read {
      font-weight: 400;
      font-size: 1.1rem;
      display: flex;
    }
    .container2 {
      height: 1.2rem;
      width: 6.5rem;
      background-color: rgb(255, 255, 255);
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .innerdiv {
      width: 6.5rem;
      transition: all;
      transition-duration: 0.3s;
      padding-top: 0;
      display: flex;
      justify-content: start;
    }
    .innerdiv:hover {
      transform: translateY(-30px);
    }
  }
}
