.container {
  height: 18rem;
  width: 17.5rem;
  border: solid 2px rgb(44, 44, 44);
  border-radius: 0.5rem;
  font-family: "__Poppins_dd2ae8", "__Poppins_Fallback_dd2ae8";
  background-color: #ffffff;
  .upper {
    height: 20%;
    padding: 1.5rem 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5rem;
    font-family: "__Poppins_dd2ae8", "__Poppins_Fallback_dd2ae8";
    .tags {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.2rem;
    }
    .tag {
      padding: 0rem 0.5rem;
      border-radius: 5rem;
      font-size: 0.8rem;
      background-color: #f4c20d;
      margin: 0.1rem;
      font-family: "__Poppins_dd2ae8", "__Poppins_Fallback_dd2ae8";
    }
    .heart {
      font-size: 1.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .middle {
    height: 15%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.9rem;
    font-family: "__Poppins_dd2ae8", "__Poppins_Fallback_dd2ae8";
  }

  .lower {
    height: 40%;
    padding: 1rem;
    font-family: "__Poppins_dd2ae8", "__Poppins_Fallback_dd2ae8";

    .lowerTitle {
      font-weight: 600;
      font-size: 1.1rem;
      padding-bottom: 0.2rem;
      font-family: "__Poppins_dd2ae8", "__Poppins_Fallback_dd2ae8";
    }
    .lowerPara {
      font-size: 0.7rem;
      padding-bottom: 0.5rem;
      text-align: justify;
      font-family: "__Poppins_dd2ae8", "__Poppins_Fallback_dd2ae8";
    }
  }
  .read {
    font-weight: 400;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    height: 25%;
    padding: 1rem;
    font-family: "__Poppins_dd2ae8", "__Poppins_Fallback_dd2ae8";
  }
  .container2 {
    height: 1.2rem;
    width: 6.5rem;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .readMore {
      position: absolute;
      margin: auto;
      transition: ease 1000ms;
      background-color: #dddddd;
      width: 15rem;
      padding: 1rem;
      overflow: wrap;
    }
  }
  .innerdiv {
    width: 6.5rem;
    transition: all;
    transition-duration: 0.3s;
    padding-top: 0;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
  }
  .innerdiv:hover {
    transform: translateY(-30px);
  }
  .arrow {
    display: flex;
    align-items: flex-end;
    padding-top: 0.5rem;
  }
}
